{% extends "layout/base.twig" %}
{% import "layout/partials/form.twig" as form %}

{% block body %}
    <p>
        edition tag n°
        {{ tag.id }}</p>


    <form action={{ base_url('editTag')~'/'~tag.id }} method="POST">

        <div>id :
            {{ tag.id }}</div>

        {{ form.input ("name", tag.name) }}

        <button type="submit">Modifier</button>
    </div>
</form>




{% endblock %}
