{% extends "layout/base.twig" %}
{% import "layout/partials/form.twig" as form %}

{% block title %}
    Recherche tag
{% endblock %}

{% block body %}
    <p>
        recherche tag</p>


    <form action={{ base_url('searchTag')~'/'~tag.id }} method="POST">

        {{ form.input ("name", 'Recherche') }}

        <button>Chercher</button>

    </form>


{% endblock %}
